<table id="dataTable" class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Index</th>
      <th>Name</th>
      <th>Descripe </th>
      <th>Action</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let prod of listProductChild ,let i=index ">
      <td>{{i+1}}</td>
      <td>{{prod.name}}</td>
      <td>{{prod.describe}}</td>
      <td>
        <button  class="btn btn-info" (click)="onUpdate(i)">Update</button>
        <button  class="btn btn-danger" (click)="onDelete(i)">Suprimer</button>
      </td>
    </tr>
  </tbody>
</table>
